extends templates/layout

block content
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(name="password" type="password" placeholder="Password" required)
        input(name="newPassword" type="password" placeholder="New Password" required)
        input(name="newPasswordConfirm" type="password" placeholder="New Password Confirmation" required)
        input(type="submit" value="Change Password")