extends templates/layout
include mixins/videoInfo

block content
    ul        
        div.video-grid
            each video in videos
                +videoInfo(video)
            else
                span.empty__message No videos found 