extends templates/layout
include mixins/videoInfo

block content
    ul        
        div.profile__data
        img(src="/" + user.avatarUrl).avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            +videoInfo(video)
        else
            span.empty__message No videos found 